<div class="jumbotron text-center my-2 p-0">
	<div class="jumbotron content">
		<h1 class="jumbotron-text">Learning</h1>
		<p class="lead">
			<%= link_to 'Sign up', root_path, class: "btn btn-danger btn-x-lg" %>
		</p>
	</div>
</div>

<p><%= link_to 'Articles', articles_path %></p>
<p><%= link_to 'About', about_path %></p>