/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';

#nav-logo {
  float: left;
  font-size: 1.7em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 600;
}

.jumbotron {
  background-image: asset-url('rails.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 453px;
}

.jumbotron-text {
  color: #000000;
  font-size: 80px;
}

.jumbotron-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-red-black {
  background-color: #dc3545;
  color: white;
  border: 5px solid black;
  border-radius: 0.5rem;
}

.btn-red-black:hover {
  background-color: #c82333;
  color: white;
  text-decoration: none;
}

.btn-x-lg {
  font-size: 1.5em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777777;
}
